@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 


/* header css start */
#menu{
  background-color: #fff;
  box-shadow: 0 7px 19px -1px rgb(0 0 0 / 17%);
}
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
nav .logo{
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top:0px;
  z-index: 999;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #000000;
  text-decoration: none;
  font-size:17px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.2s ease;
}
nav ul li a:hover{
  color: #059dff;
}
nav .menu-btn i{
  color: rgb(0, 0, 0);
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: rgb(236, 234, 234);
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.2s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: rgb(0, 0, 0);
  }
}
/* header css end */
/* slider css start */
#main_slider{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000116;
}

.slider{
  position: relative;
  background: #000116;
  width:100%;
  min-height: 500px;
  overflow: hidden;
}

.slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info {
  position: absolute;
  color: #222;
  background-color: rgba(255,255,255,0.5);
  width: 60%;
  margin-top: 100px;
  margin-left: 250px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
  color:#1f1841;
}

.slider .slide .info p{
  font-size: 1em;
  font-weight: 400;
  color:#000;
}

.navigation{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  z-index:2;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index:2;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #4285F4;
}

@media (max-width: 900px){
  .slider{
    width: 100%;
  }

  .slider .slide .info{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px){
  .slider .slide .info h2{
    font-size: 1.8em;
    line-height: 40px;
  }

  .slider .slide .info p{
    font-size: 0.9em;
  }
}

/* main slider css end */


/* button css start */

.bttnn {
  display: grid;
  font-family: Avenir, sans-serif;
  color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit; }

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all .2s ease; }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.5);
    width: 56px;
    height: 56px;
    transition: all .3s ease; }
  .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform:capitalize;
    vertical-align: middle; }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease; }
  .cta:hover:before {
    width: 100%;
    background: #ffab9d; }
  .cta:hover svg {
    transform: translateX(0); }
  .cta:active {
    transform: scale(0.96); }
    /* button css end */
/* buit_it css */
#build_it{

}
.backgroune_colr{
  background: #F0F4F7;
  padding:80px 20px;
}

.all_details a{
  color: #00b7ff;
}
.all_details h3{
  color: #1f1841;
  font-weight: 800;
}

.all_details_2 h4{
  color: #1f1841;
  font-weight: 800;
}
.serviecs h5{
 padding-left:10px;
 font-weight: 600;
}
/* footer css start */
#footer{
  background: #000000;
  text-align:center;
  color:#ffffff;
}
.menu ul li{
  display:inline-block;
}
.menu ul li a{
  padding:0px 20px;
  color:#cccccc;
}
.menu{
 text-align:center;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin-top: 0;
  margin-bottom:0;
}
.social_icnos li{
display:inline-block;
list-style: none;
margin:0px 20px;
}
.social_icnos li i{
font-size: 30px;
margin-top:10px;
}
i.fab.fa-linkedin-in {
  color: #0A66C2;
}
i.fab.fa-twitter{
  color: #1DA1F2;
}
i.fab.fa-spotify{
  color: #1DB954;
}
/* about css start */
.about_header{
  background:linear-gradient(0deg, rgba(12, 50, 223, 0.7), rgba(12, 50, 223, 0.7)), url(../images/about.jpg);
  background-size: cover;
  background-position: center top;
  padding-top:20px; 
  padding-bottom: 150px;
  color:#fff;
  padding-left:30px;
  padding-right:30px;
  text-align: center;
  
}
.all_details.mt-5 {
  background-color: transparent;
  background-image: linear-gradient(225deg, #FFFFFF 0%, #E7ECEF 100%);
  box-shadow: 0px 0px 10px 0px rgb(173 172 172 / 50%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 25px 20px 20px 20px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container20 {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 1px;
}
.form_content {
  padding: 30px;
  box-shadow: 0px 0px 10px 0px rgb(173 172 172 / 50%);
}
.form_content p {
    margin-top: 30px;
}
/* lets talk css */
.lets_talk_content {
  text-align: center;
  margin: 100px 30px;
}



/* .contact form */

.Contact_Us{
  background:linear-gradient(0deg, rgba(12, 50, 223, 0.7), rgba(12, 50, 223, 0.7)), url(../images/contact.jpg);
  background-size: cover;
  background-position: center center;
  padding-top:20px; 
  padding-bottom: 100px;
  color:#fff;
  padding-left:30px;
  padding-right:30px;
  text-align: center;
  
}



.contactt {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px 0px;
}
.container1 {
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  margin:0 auto;
}
.container1 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container1 .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.container1 .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.right-side p {
  line-height: 30px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  background: #5029bc;
}

@media (max-width: 950px) {
  .container1 {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container1 {
    height: 100%;
  }
  .container1 .content {
    flex-direction: column-reverse;
  }
  .container1 .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container1 .content .left-side::before {
    display: none;
  }
  .container1 .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

/* team css */
.team img{
  width:315px;
  height:240px;
}
.team-list img {
  width: 50%;
}

.team-list .content {
  width: 50%;
}

.team-list .content .follow {
  position: absolute;
  bottom: 24px;
}

.team-list:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.team, .team-list {
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team .content .title, .team-list .content .title {
  font-size: 18px;
}

.team .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team .member-position, .team .team-social {
  position: absolute;
  bottom: -35px;
  right: 0;
  left: 0;
  margin: auto 10%;
  z-index: 99;
}

.team .team-social {
  bottom: 40px;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.team:hover .overlay {
  opacity: 0.6;
}

.team:hover .team-social {
  opacity: 1;
}

@media (max-width: 768px) {
  .team-list img,
  .team-list .content {
    width: 100%;
    float: none !important;
  }
  .team-list img .follow,
  .team-list .content .follow {
    position: relative;
    bottom: 0;
  }
}

.social-icon.social li a {
    color: #adb5bd;
    border-color: #adb5bd;
}
.social-icon li a {
    color: #35404e;
    border: 1px solid #35404e;
    display: inline-block;
    height: 32px;
    text-align: center;
    font-size: 15px;
    width: 32px;
    line-height: 30px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
}
.rounded {
    border-radius: 5px !important;
}

.para-desc {
    max-width: 600px;
}
.text-muted {
    color: #8492a6 !important;
}

.section-title .title {
    letter-spacing: 0.5px;
    font-size: 30px;
}

